@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-f-primary: #7369F0;
  --color-f-success: #30d35e;
  --color-f-danger: #ff3e3e;
  --color-f-warn: #ffb547;
  --color-f-info: #4891ff;

  --color-f-green: #30d35e;
  --color-f-red: #ff3e3e;
  --color-f-yellow: #ffb547;
  --color-f-blue: #4891ff;
  --color-f-secondary: #576A69;
  --color-f-stroke: #DAE7E6;
  --color-f-off-white: #F8F9F9;

  --color-f-gray: #C5C6D0;
  --color-f-light-gray: #F3F3F5;
  --color-f-dark-gray: #86889E;
  --color-f-light-red: #ffecec;
  --color-f-light-green: #eafbef;
  --color-f-light-yellow: #fff8ed;
  --color-f-black: #0e123e;
  --color-f-light-black: #79797a;
  --color-f-white: #ffffff;
  --color-f-text-gray: #b7b7b7;

  --color-f-primary-hovered: #7369F0;
  --color-f-body-bg: #F3F3F3;

  --color-f-light-purple: #ecebfe;
  --color-f-secondary-purple: #f9f9ff;
  --color-f-tertiary-purple: #F4F4FE;
  --color-f-fifth-purple: #d3c7d5;

  /* Font Family */
  --font-sans: Poppins, sans-serif;

  /* Breakpoints */
  --breakpoint-3xl: 1800px;

  /* Scale */
  --scale-104: 1.04;
  --scale-115: 1.15;

  /* Animations */
  --animate-shake-x: shake-x 0.2s ease-in-out 0s 2;
  --animate-slide-in-up: slideInUp 0.5s ease-out;

  /* Custom Heights */
  --height-full-offcanvas: 91%;
}

@layer base {
  @keyframes shake-x {
    0%, 100% { margin-left: 0; }
    25% { margin-left: 0.25rem; }
    75% { margin-left: -0.25rem; }
  }

  body {
    font-family: var(--font-sans);
    font-size: 14px;
  }

  html {
    font-size: 14px;
  }
}

@layer utilities {
  .grid-cols-36 {
    grid-template-columns: repeat(36, minmax(0, 1fr));
  }

  .col-span-14 {
    grid-column: span 14 / span 14;
  }

  .empty {
    @apply w-[5px] h-[5px];
  }
}


